.section-games .rectangle {
    position: relative;
    width: 274px;
    height: 219px;
    border-radius: 24px;
    background: linear-gradient(180deg, rgb(255, 70, 85) 0%, rgb(225.25, 50.68, 64.84) 100%);
}

    .section-games .rectangle .hero {
        position: absolute;
        width: 179px;
        height: 275px;
        bottom: 0;
        left: 92px;
        z-index: 100;
        object-fit: cover;
    }

    .section-games .rectangle .title {
        position: absolute;
        width: 271px;
        height: 219px;
        bottom: 0;
        left: 0;
    }

    .section-games .rectangle::after {
        content: '';
        position: absolute;
        width: 76px;
        height: 179px;
        bottom: 0;
        left: 144px;
        background-color: #a22630;
        filter: blur(53px);
    }

    .section-games .rectangle:nth-child(2) {
        background: linear-gradient(180deg, rgb(194, 143, 44) 0%, rgb(172.13%, 125.79%, 35.86%) 100%);
    }

        .section-games .rectangle:nth-child(2)::after {
            background-color: rgba(85, 21, 178, 0.47);
        }

    .section-games .rectangle:nth-child(3) .hero {
        width: 177px;
        left: 114px;
    }

    .section-games .rectangle:nth-child(3) .title {
        width: 143px;
        height: 143px;
        bottom: 2em;
        left: -1.5em;
    }

    .section-games .rectangle:nth-child(3) {
        background: linear-gradient(180deg, rgb(94.56, 94.56, 94.56) 0%, rgb(60.56%, 60.56%, 60.56%) 100%);
    }

        .section-games .rectangle:nth-child(3)::after {
            background-color: #2e2e2e;
        }

    .section-games .rectangle:nth-child(4) .hero {
        position: absolute;
        width: 128px;
        left: 133px;
        object-fit: cover;
    }

    .section-games .rectangle:nth-child(4) .title {
        width: 46px;
        height: 164px;
        left: 35px;
        bottom: 2em;
    }

.section-games {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}

    .section-games .rectangle:nth-child(4) {
        background: linear-gradient(180deg, rgb(1, 132, 236) 0%, rgb(0, 106.02, 190.19) 100%);
    }

        .section-games .rectangle:nth-child(4)::after {
            background-color: #004f8e;
        }
