@model InternetGameBlog.Web.ViewModels.Platform.AddPlatformViewModel
@{
}
<h1>Add a platform</h1>
<form method="post" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Add Platform"/>
    </div>
</form>