@model InternetGameBlog.Web.ViewModels.Platform.EditPlatformViewModel
@{
}
<h1> Edit platform: </h1>
<form method="post" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name"/>
    </div>
    <div class="mt-5">
        <input type="submit" class="btn btn-primary" value="Save Changes"/>
    </div>
</form>