<div class="contact-container">
	<div class="content">
		<header>
			<h1><span>Contact</span> us</h1>
		</header>
		<main>
			<form action="">
				<div>
					<input type="text" placeholder="First name" />
					<input type="text" placeholder="Email" />
					<input type="text" placeholder="Phone number" />
				</div>

				<textarea placeholder="Write your message here"></textarea>
			</form>
			<div class="bottom">
				<div class="site-email">
					<p>PREFER DIRECT EMAIL MESSAGING?</p>
					<a href="#">hello@buffgaming.gg</a>
				</div>
				<a href="#" class="send-btn">SEND MESSAGE</a>
				<div class="social-media">
					<p>FOLLOW US ON SOCIALS</p>
					<ul>
						<li>
							<a href="#">
								<svg class="group" width="22" height="22" viewBox="0 0 22 22" fill="none"
								     xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd"
									      d="M0 11.0614C0 16.5303 3.97192 21.0778 9.16667 22V14.0553H6.41667V11H9.16667V8.55525C9.16667 5.80525 10.9386 4.27808 13.4447 4.27808C14.2386 4.27808 15.0948 4.4 15.8886 4.52192V7.33333H14.4833C13.1386 7.33333 12.8333 8.00525 12.8333 8.86142V11H15.7667L15.2781 14.0553H12.8333V22C18.0281 21.0778 22 16.5312 22 11.0614C22 4.9775 17.05 0 11 0C4.95 0 0 4.9775 0 11.0614Z"
									      fill="#19250A" fill-opacity="0.6" />
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none"
								     xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_166_1560)">
										<path d="M10.997 7.33177C8.97722 7.33177 7.32888 8.98013 7.32888 11C7.32888 13.0199 8.97722 14.6682 10.997 14.6682C13.0169 14.6682 14.6652 13.0199 14.6652 11C14.6652 8.98013 13.0169 7.33177 10.997 7.33177ZM21.9988 11C21.9988 9.48097 22.0125 7.97571 21.9272 6.45943C21.8419 4.69824 21.4402 3.13519 20.1523 1.84732C18.8617 0.556694 17.3014 0.157674 15.5403 0.0723668C14.0213 -0.0129408 12.516 0.000818524 10.9998 0.000818524C9.4808 0.000818524 7.97556 -0.0129408 6.45931 0.0723668C4.69815 0.157674 3.13513 0.559446 1.84728 1.84732C0.556684 3.13794 0.157672 4.69824 0.0723655 6.45943C-0.0129406 7.97846 0.000818509 9.48373 0.000818509 11C0.000818509 12.5163 -0.0129406 14.0243 0.0723655 15.5406C0.157672 17.3018 0.559436 18.8648 1.84728 20.1527C3.13788 21.4433 4.69815 21.8423 6.45931 21.9276C7.97831 22.0129 9.48355 21.9992 10.9998 21.9992C12.5188 21.9992 14.024 22.0129 15.5403 21.9276C17.3014 21.8423 18.8645 21.4406 20.1523 20.1527C21.4429 18.8621 21.8419 17.3018 21.9272 15.5406C22.0153 14.0243 21.9988 12.519 21.9988 11ZM10.997 16.6441C7.87374 16.6441 5.35309 14.1234 5.35309 11C5.35309 7.87664 7.87374 5.35594 10.997 5.35594C14.1203 5.35594 16.641 7.87664 16.641 11C16.641 14.1234 14.1203 16.6441 10.997 16.6441ZM16.8722 6.44292C16.1429 6.44292 15.554 5.85402 15.554 5.12478C15.554 4.39554 16.1429 3.80664 16.8722 3.80664C17.6014 3.80664 18.1903 4.39554 18.1903 5.12478C18.1905 5.29794 18.1565 5.46945 18.0904 5.62947C18.0242 5.78949 17.9271 5.93489 17.8047 6.05733C17.6822 6.17978 17.5369 6.27686 17.3768 6.34303C17.2168 6.40919 17.0453 6.44314 16.8722 6.44292Z"
										      fill="#19250A" fill-opacity="0.6" />
									</g>
									<defs>
										<clipPath id="clip0_166_1560">
											<rect width="22" height="22" fill="white" />
										</clipPath>
									</defs>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none"
								     xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_166_1555)">
										<path d="M11 0C4.92545 0 0 4.92545 0 11C0 17.0746 4.92545 22 11 22C17.0746 22 22 17.0746 22 11C22 4.92545 17.0746 0 11 0ZM16.2864 8.29174C16.2937 8.40714 16.2937 8.52746 16.2937 8.64531C16.2937 12.2498 13.5487 16.4018 8.53237 16.4018C6.98549 16.4018 5.55156 15.9525 4.34353 15.179C4.56451 15.2036 4.77567 15.2134 5.00156 15.2134C6.27835 15.2134 7.45201 14.7812 8.3875 14.0496C7.18929 14.025 6.18259 13.2393 5.83884 12.1589C6.25871 12.2203 6.63683 12.2203 7.06897 12.1098C6.45201 11.9845 5.89746 11.6494 5.49955 11.1615C5.10164 10.6736 4.8849 10.0631 4.88616 9.43348V9.39911C5.2471 9.6029 5.67188 9.72812 6.11629 9.74531C5.74269 9.49633 5.4363 9.159 5.22429 8.76324C5.01228 8.36749 4.9012 7.92553 4.90089 7.47656C4.90089 6.9683 5.03348 6.50424 5.27165 6.10156C5.95646 6.94458 6.81099 7.63405 7.77971 8.12518C8.74843 8.61631 9.80966 8.8981 10.8944 8.95223C10.5089 7.09844 11.8938 5.59821 13.5585 5.59821C14.3442 5.59821 15.0513 5.92723 15.5498 6.45759C16.1661 6.34219 16.7554 6.11138 17.2808 5.80201C17.077 6.43304 16.6498 6.96585 16.0826 7.30223C16.6326 7.2433 17.1629 7.09107 17.654 6.87746C17.2833 7.42254 16.8192 7.90625 16.2864 8.29174Z"
										      fill="#19250A" fill-opacity="0.6" />
									</g>
									<defs>
										<clipPath id="clip0_166_1555">
											<rect width="22" height="22" fill="white" />
										</clipPath>
									</defs>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</main>
	</div>
	<div class="overlap">
		<img class="text" src="https://c.animaapp.com/pEmrRgJ6/img/vector.svg" />
		<img class="hero" src="https://c.animaapp.com/pEmrRgJ6/img/v-agents-587x900-jett-1.png" />
	</div>
</div>