@using InternetGameBlog.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
	</li>
	<li class="nav-item">
		<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
			<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
		</form>
	</li>
}
else
{
	<li>
		<a asp-area="" asp-controller="Account" asp-action="Login">
			<div class="login register nav-icon">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px"
					 viewBox="0,0,256,256">
					<g fill="#97f123" fill-rule="nonzero" stroke="none" stroke-width="1"
					   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
					   stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
					   font-size="none" text-anchor="none" style="mix-blend-mode: normal">
						<g transform="scale(5.33333,5.33333)">
							<path d="M24,4c-8.55913,0 -15.88357,5.38921 -18.73047,12.97266c-0.19579,0.5034 -0.10585,1.0732 0.23549,1.49181c0.34134,0.41861 0.88137,0.6214 1.41388,0.53094c0.53251,-0.09046 0.97527,-0.46021 1.15923,-0.96806c2.4171,-6.43855 8.62101,-11.02734 15.92188,-11.02734c9.40629,0 17,7.59371 17,17c0,9.40629 -7.59371,17 -17,17c-7.30087,0 -13.50478,-4.58879 -15.92187,-11.02734c-0.18395,-0.50785 -0.62672,-0.8776 -1.15923,-0.96806c-0.53251,-0.09046 -1.07254,0.11233 -1.41388,0.53094c-0.34134,0.41861 -0.43129,0.98841 -0.23549,1.49181c2.8469,7.58345 10.17134,12.97266 18.73047,12.97266c11.02771,0 20,-8.97229 20,-20c0,-11.02771 -8.97229,-20 -20,-20zM23.48438,16.48438c-0.61065,0.00015 -1.16026,0.37042 -1.38978,0.93629c-0.22952,0.56587 -0.09314,1.21439 0.34486,1.63988l3.4375,3.4375l-20.375,-0.01758c-0.54092,-0.00832 -1.04443,0.27524 -1.31772,0.74212c-0.2733,0.46688 -0.27405,1.04474 -0.00197,1.51233c0.27208,0.46759 0.77484,0.75246 1.31579,0.74555l20.38281,0.01758l-3.44141,3.44141c-0.39185,0.37623 -0.54969,0.9349 -0.41265,1.46055c0.13704,0.52565 0.54754,0.93616 1.07319,1.07319c0.52565,0.13704 1.08432,-0.0208 1.46055,-0.41265l6,-6c0.58555,-0.58579 0.58555,-1.5353 0,-2.12109l-6,-6c-0.28248,-0.2909 -0.67069,-0.45506 -1.07617,-0.45508z"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>
	</li>
	<li>
		<a asp-area="" asp-controller="Account" asp-action="Register">
			<div class="login register nav-icon">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px"
					 viewBox="0,0,256,256">
					<g fill="#97f123" fill-rule="nonzero" stroke="none" stroke-width="1"
					   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
					   stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
					   font-size="none" text-anchor="none" style="mix-blend-mode: normal">
						<g transform="scale(5.33333,5.33333)">
							<path d="M18,2c-2.2151,0 -4.27787,0.72634 -5.9375,1.95313c-0.44328,0.31398 -0.6822,0.84307 -0.6246,1.38323c0.0576,0.54016 0.4027,1.00697 0.90223,1.22043c0.49952,0.21345 1.07541,0.14018 1.50558,-0.19155c1.16237,-0.85921 2.59139,-1.36523 4.1543,-1.36523c3.88318,0 7,3.11682 7,7c0,3.88318 -3.11682,7 -7,7c-3.88318,0 -7,-3.11682 -7,-7c0.00765,-0.54095 -0.27656,-1.04412 -0.74381,-1.31683c-0.46725,-0.27271 -1.04514,-0.27271 -1.51238,0c-0.46725,0.27271 -0.75146,0.77588 -0.74381,1.31683c0,5.50482 4.49518,10 10,10c5.50482,0 10,-4.49518 10,-10c0,-5.50482 -4.49518,-10 -10,-10zM36.01172,24.10156c-2.05863,-0.03717 -4.01574,0.53968 -5.68359,1.55078c-0.47602,0.26913 -0.76789,0.77597 -0.76173,1.32277c0.00616,0.5468 0.30936,1.04694 0.79132,1.30529c0.48196,0.25835 1.06632,0.23398 1.5251,-0.06361c1.21725,-0.73793 2.61915,-1.14628 4.08789,-1.11719c0.00977,0.0001 0.01953,0.0001 0.0293,0c4.35385,0 7.98354,3.73026 7.90039,7.9707c-0.01056,0.53596 0.26564,1.03683 0.72455,1.3139c0.45891,0.27707 1.03078,0.28824 1.50015,0.0293c0.46937,-0.25894 0.76493,-0.74865 0.7753,-1.28461c0.11677,-5.9555 -4.8481,-11.02045 -10.88867,-11.02734zM7.5,26c-3.01977,0 -5.5,2.48023 -5.5,5.5c0,3.72483 2.42904,6.56701 5.61328,8.22852c3.18425,1.6615 7.19956,2.37114 11.15625,2.26172c0.53599,-0.01452 1.02351,-0.31393 1.27885,-0.78542c0.25534,-0.47149 0.2397,-1.04339 -0.04102,-1.50022c-0.28073,-0.45683 -0.78387,-0.72915 -1.31986,-0.71436c-3.52831,0.09758 -7.12704,-0.58688 -9.68555,-1.92187c-2.5585,-1.335 -4.00195,-3.09219 -4.00195,-5.56836c0,-1.39823 1.10177,-2.5 2.5,-2.5h15.81836c0.54095,0.00765 1.04412,-0.27656 1.31683,-0.74381c0.27271,-0.46725 0.27271,-1.04514 0,-1.51238c-0.27271,-0.46725 -0.77588,-0.75146 -1.31683,-0.74381zM35.97656,30.17969c-0.82689,0.01293 -1.48735,0.69261 -1.47656,1.51953v1.80078h-1.80078c-0.54095,-0.00765 -1.04412,0.27656 -1.31683,0.74381c-0.27271,0.46725 -0.27271,1.04514 0,1.51238c0.27271,0.46725 0.77588,0.75146 1.31683,0.74381h1.80078v1.80078c-0.00765,0.54095 0.27656,1.04412 0.74381,1.31683c0.46725,0.27271 1.04514,0.27271 1.51238,0c0.46725,-0.27271 0.75146,-0.77588 0.74381,-1.31683v-1.80078h1.80078c0.54095,0.00765 1.04412,-0.27656 1.31683,-0.74381c0.27271,-0.46725 0.27271,-1.04514 0,-1.51238c-0.27271,-0.46725 -0.77588,-0.75146 -1.31683,-0.74381h-1.80078v-1.80078c0.00529,-0.40528 -0.15365,-0.79546 -0.44062,-1.08169c-0.28697,-0.28623 -0.67755,-0.44417 -1.08282,-0.43784zM26.75586,31.06445c-0.65645,0.03244 -1.21534,0.48842 -1.37891,1.125c-0.24374,0.89295 -0.37337,1.83066 -0.375,2.79297c-0.10977,5.95423 4.85645,11.01758 10.89844,11.01758c3.07037,0 5.9766,-1.13745 7.99023,-3.26953c0.36818,-0.3897 0.50047,-0.94623 0.34702,-1.45991c-0.15345,-0.51369 -0.56932,-0.90647 -1.09092,-1.03037c-0.5216,-0.1239 -1.06968,0.03992 -1.43774,0.42973c-1.38637,1.46792 -3.47896,2.33008 -5.80859,2.33008c-4.35385,0 -7.98354,-3.73026 -7.90039,-7.9707c0.0001,-0.00977 0.0001,-0.01953 0,-0.0293c0,-0.69735 0.09476,-1.37404 0.27148,-2.02148c0.13427,-0.4655 0.03546,-0.9672 -0.2653,-1.34702c-0.30076,-0.37982 -0.76644,-0.59102 -1.25033,-0.56704z"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>
	</li>
}